@import url(app.css);

.apply-doctor-section {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  padding: 2rem 1rem;
}

.apply-doctor-container {
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

option {
  text-transform: capitalize;
  padding: 0.5rem;
}

select {
  cursor: pointer;
}

select option:checked {
  background: var(--primary-blue);
  color: white;
}
